* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

body {
  background:$red;
  padding: 0;
  @include transition(.3s all);

}


.visible-phone {

  &.left {
    position: relative;
  }
  padding:2em;
  .center {
    position:static;
  }
  .center.mobile {
    position: relative;
    display: block;

  }

  .border {
    display: inline-block;
    width:100%;
    &.top{
      top:2em;
    }
    &.bottom {
      bottom:4em;
    }
  }
}
body.start {
  .first {
    display:inline;
    
  }
}

body.g1 {
  
  p, path{
    @include transition(.3s all);
  }
  .border {
    background:url('/resources/img/border-img2.png')
  }
  .left {
    background: url('/resources/img/bg-blue.png')repeat;
  }
  .col3 .overlay .content h4 {
    color:#dbe1ec;
  }
  
  p {
    color:$color3-text;
  }
  .content p, h1, h3, h3, h4 {
    color:white;
  }
  path {
    fill:$color3-text;
  }
  .overlay {
    background:#24588d;
  }
}

body.g2 {
 
  .col3 .overlay .content h4 {
    color:#dbe1ec;
  }
  .overlay {
    background:rgb(79, 108, 161);
  }
}

body.g3 {
  .col3 .overlay .content h4 {
    color:#d3d9ce;
  }
  .overlay {
    background:rgb(36, 68, 14);

  }
}

body.g4 {
  .col3 .overlay .content h4 {
    color:#dccfd8;
  }
  .overlay {
    background:rgb(82, 19, 62);
  }
}

body.g5 {
  .col3 .overlay .content h4 {
    color:#e8e1d0;
  }
  .overlay {
    background:#8E6816;
  }
}

body.g6 {
  
  .overlay {
    background:rgba($color4, 1);

  }
}
.border {
   height:50px;
   background:url('/resources/img/border-img.png')repeat;
      position: absolute;
      width:100%;
}

.border.top {
  top:10px;
}

.border.bottom {
  bottom:10px;
}


.messages {
  position: relative;

     /* border-top-width: 40px;
      border-right-width:0;
      border-left-width:0;
      border-bottom-width:40px;
      border-image:url('/resources/img/border.png')40 40;*/
  li {
  &.active {
    display: inline-block;
@include animation(900ms, bounceInUp, ease);
-webkit-transform: translate3d(0,0,0); 
}
&.active-a1  {
  display: inline;
@include animation(900ms, bounceInUp, ease);
-webkit-transform: translate3d(0,0,0); 

}
    height:99%;
    display: none;

    p{
      padding:1em 20px;
      font-size: 35px;
      line-height: 1.4;
      margin: 0;
    }
  }
}

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  padding:2em;
    
}

.col3 {
  @include transition(width .3s);
  float:left;
  @include rowGrid(1,0);
  height:255px;
  overflow:hidden;
  position: relative;
  @include opacity(.8);
  &:hover {
    
      @include opacity(100);
    
    .overlay, .overlay.hover_effect {
      display:inline-block;
      @include opacity(100);
      @include transition(.4s all);
    }
  }

  .overlay {
    padding: 10px;
    @include transition(all .4s);
    z-index: 1000;
    @include opacity(0);
    width:100% !important;
    .content {
      h4{
        color:#ddcfce;
        font-family: $heading2;
      }
    }
  }
  img, .overlay {
    position: absolute;
    top:0;
    left:0;
    height:125%;
    width:auto;
    max-width:none;
  }
  img{
   width:145%;
   height:auto;
   left:-15%;
   top:0;
  }
}

.overlay {
  background: #54120D;
  .content {
    p {
      font-size: 11px;
    }
  }
}

img.intro {
      width:80%;
      max-width:629px;
      max-height:500px;
    }


ul,li {
  margin: 0;
  padding: 0;
}

.left {
  display: table;
  float:left;
  text-align: center;
  padding: 16px;
  position: fixed;
  background:url('/resources/img/bg.png')repeat;
  .center{
    display:table-cell;
    vertical-align:middle;
    position: relative;

  }
  li {
    
  }
  
}

.right {
  display:none;
  float:right;
  .sweaters {
    li {
     
    }
  }
}

.left{
  width:100%;
}
.wrap {
  max-width: 940px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.bug {
  position: fixed;
    bottom:1em;
    right:1em;
  z-index: 1001;
  display: inline-block;
}

/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.messages li li {
display: block;
}

.messages li p.title {
  font-family: $heading;
  padding:0;
}

.messages li div.last {
  padding:3em 2em;
  p {
    padding:0;
    font-size: 20px;
  }
  p.title {
    font-size: 45px;
    margin: 0;
    line-height: 1.1
  }
  li {
    margin-bottom: 1em;
    p{
      line-height: 1;
    }
  }

  ul {
    padding:1em 0 0;
  }

  p.last {
    font-size: 14px;
    a {
    margin-top: 1em;
    display: inline-block;
    border: solid 2px white;
    padding: 1em 2.5em;
    color:white;
    &:hover {
      background:white;
      color:$color5;
      &:visited {
        color:$color5;
      }
    }
    &:visited, &:active {
      color:white;
    }
  }
    strong {
      font-family: $heading2;
      font-size: 18px;
    }
  }
}

.adjust {
  left: -12% !important;
}
