// COLOR PALETTE
$primary: white;
$secondary: white;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: red;
$red: #c73227;
$darkred:#3f0909;
$color1: #F2F2F2; /* White */
$color2: #1A2B4A; /* Dark Blue */
$color3: #447622; /* Green */
$color3-text :#24588d; /* Light Blue for text*/
$color4:#960066; /* Light Green */
$color5: #C48726; /* Golden */

// FONT STACKS
$heading: 'Lobster', cursive;
$heading2:'Lobster Two', cursive;
$body: 'Arvo', serif;