/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/* White */
/* Dark Blue */
/* Green */
/* Light Blue for text*/
/* Light Green */
/* Golden */
/* line 20, ../sass/_grid.scss */
body {
  width: 100%;
  float: left;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:visited {
  color: #551a8b;
}

/* line 53, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 54, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 57, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 72, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 79, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 85, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 90, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 92, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 113, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 119, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 126, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 133, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 134, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 137, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 144, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 152, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 158, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 166, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 172, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 178, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 179, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 180, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 186, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 193, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 197, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 204, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 205, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 213, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 214, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 217, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 220, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 223, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 226, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 229, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 230, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 231, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 239, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 240, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 241, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 242, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 243, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 245, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 246, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 248, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 249, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
body {
  background: #c73227;
  padding: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* line 21, ../sass/_smallest.scss */
.visible-phone {
  padding: 2em;
}
/* line 23, ../sass/_smallest.scss */
.visible-phone.left {
  position: relative;
}
/* line 27, ../sass/_smallest.scss */
.visible-phone .center {
  position: static;
}
/* line 30, ../sass/_smallest.scss */
.visible-phone .center.mobile {
  position: relative;
  display: block;
}
/* line 36, ../sass/_smallest.scss */
.visible-phone .border {
  display: inline-block;
  width: 100%;
}
/* line 39, ../sass/_smallest.scss */
.visible-phone .border.top {
  top: 2em;
}
/* line 42, ../sass/_smallest.scss */
.visible-phone .border.bottom {
  bottom: 4em;
}

/* line 48, ../sass/_smallest.scss */
body.start .first {
  display: inline;
}

/* line 56, ../sass/_smallest.scss */
body.g1 p, body.g1 path {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 59, ../sass/_smallest.scss */
body.g1 .border {
  background: url("/resources/img/border-img2.png");
}
/* line 62, ../sass/_smallest.scss */
body.g1 .left {
  background: url("/resources/img/bg-blue.png") repeat;
}
/* line 65, ../sass/_smallest.scss */
body.g1 .col3 .overlay .content h4 {
  color: #dbe1ec;
}
/* line 69, ../sass/_smallest.scss */
body.g1 p {
  color: #24588d;
}
/* line 72, ../sass/_smallest.scss */
body.g1 .content p, body.g1 h1, body.g1 h3, body.g1 h3, body.g1 h4 {
  color: white;
}
/* line 75, ../sass/_smallest.scss */
body.g1 path {
  fill: #24588d;
}
/* line 78, ../sass/_smallest.scss */
body.g1 .overlay {
  background: #24588d;
}

/* line 85, ../sass/_smallest.scss */
body.g2 .col3 .overlay .content h4 {
  color: #dbe1ec;
}
/* line 88, ../sass/_smallest.scss */
body.g2 .overlay {
  background: #4f6ca1;
}

/* line 94, ../sass/_smallest.scss */
body.g3 .col3 .overlay .content h4 {
  color: #d3d9ce;
}
/* line 97, ../sass/_smallest.scss */
body.g3 .overlay {
  background: #24440e;
}

/* line 104, ../sass/_smallest.scss */
body.g4 .col3 .overlay .content h4 {
  color: #dccfd8;
}
/* line 107, ../sass/_smallest.scss */
body.g4 .overlay {
  background: #52133e;
}

/* line 113, ../sass/_smallest.scss */
body.g5 .col3 .overlay .content h4 {
  color: #e8e1d0;
}
/* line 116, ../sass/_smallest.scss */
body.g5 .overlay {
  background: #8E6816;
}

/* line 123, ../sass/_smallest.scss */
body.g6 .overlay {
  background: #960066;
}

/* line 128, ../sass/_smallest.scss */
.border {
  height: 50px;
  background: url("/resources/img/border-img.png") repeat;
  position: absolute;
  width: 100%;
}

/* line 135, ../sass/_smallest.scss */
.border.top {
  top: 10px;
}

/* line 139, ../sass/_smallest.scss */
.border.bottom {
  bottom: 10px;
}

/* line 144, ../sass/_smallest.scss */
.messages {
  position: relative;
  /* border-top-width: 40px;
   border-right-width:0;
   border-left-width:0;
   border-bottom-width:40px;
   border-image:url('/resources/img/border.png')40 40;*/
}
/* line 152, ../sass/_smallest.scss */
.messages li {
  height: 99%;
  display: none;
}
/* line 153, ../sass/_smallest.scss */
.messages li.active {
  display: inline-block;
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 158, ../sass/_smallest.scss */
.messages li.active-a1 {
  display: inline;
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 167, ../sass/_smallest.scss */
.messages li p {
  padding: 1em 20px;
  font-size: 35px;
  line-height: 1.4;
  margin: 0;
}

/* line 176, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 183, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* MAIN */
/* line 190, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 195, ../sass/_smallest.scss */
.col3 {
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  float: left;
  width: 100%;
  height: 255px;
  overflow: hidden;
  position: relative;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
}
/* line 326, ../sass/_mixins.scss */
.col3:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col3:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 203, ../sass/_smallest.scss */
.col3:hover {
  opacity: 100;
  filter: alpha(opacity=100);
}
/* line 207, ../sass/_smallest.scss */
.col3:hover .overlay, .col3:hover .overlay.hover_effect {
  display: inline-block;
  opacity: 100;
  filter: alpha(opacity=100);
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  -ms-transition: 0.4s all;
  -o-transition: 0.4s all;
  transition: 0.4s all;
}
/* line 214, ../sass/_smallest.scss */
.col3 .overlay {
  padding: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1000;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100% !important;
}
/* line 221, ../sass/_smallest.scss */
.col3 .overlay .content h4 {
  color: #ddcfce;
  font-family: "Lobster Two", cursive;
}
/* line 227, ../sass/_smallest.scss */
.col3 img, .col3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 125%;
  width: auto;
  max-width: none;
}
/* line 235, ../sass/_smallest.scss */
.col3 img {
  width: 145%;
  height: auto;
  left: -15%;
  top: 0;
}

/* line 243, ../sass/_smallest.scss */
.overlay {
  background: #54120D;
}
/* line 246, ../sass/_smallest.scss */
.overlay .content p {
  font-size: 11px;
}

/* line 252, ../sass/_smallest.scss */
img.intro {
  width: 80%;
  max-width: 629px;
  max-height: 500px;
}

/* line 259, ../sass/_smallest.scss */
ul, li {
  margin: 0;
  padding: 0;
}

/* line 264, ../sass/_smallest.scss */
.left {
  display: table;
  float: left;
  text-align: center;
  padding: 16px;
  position: fixed;
  background: url("/resources/img/bg.png") repeat;
}
/* line 271, ../sass/_smallest.scss */
.left .center {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

/* line 283, ../sass/_smallest.scss */
.right {
  display: none;
  float: right;
}

/* line 293, ../sass/_smallest.scss */
.left {
  width: 100%;
}

/* line 296, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
}
/* line 298, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 303, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 309, ../sass/_smallest.scss */
.bug {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 1001;
  display: inline-block;
}

/* FOOTER */
/* BUTTON */
/* line 327, ../sass/_smallest.scss */
.messages li li {
  display: block;
}

/* line 331, ../sass/_smallest.scss */
.messages li p.title {
  font-family: "Lobster", cursive;
  padding: 0;
}

/* line 336, ../sass/_smallest.scss */
.messages li div.last {
  padding: 3em 2em;
}
/* line 338, ../sass/_smallest.scss */
.messages li div.last p {
  padding: 0;
  font-size: 20px;
}
/* line 342, ../sass/_smallest.scss */
.messages li div.last p.title {
  font-size: 45px;
  margin: 0;
  line-height: 1.1;
}
/* line 347, ../sass/_smallest.scss */
.messages li div.last li {
  margin-bottom: 1em;
}
/* line 349, ../sass/_smallest.scss */
.messages li div.last li p {
  line-height: 1;
}
/* line 354, ../sass/_smallest.scss */
.messages li div.last ul {
  padding: 1em 0 0;
}
/* line 358, ../sass/_smallest.scss */
.messages li div.last p.last {
  font-size: 14px;
}
/* line 360, ../sass/_smallest.scss */
.messages li div.last p.last a {
  margin-top: 1em;
  display: inline-block;
  border: solid 2px white;
  padding: 1em 2.5em;
  color: white;
}
/* line 366, ../sass/_smallest.scss */
.messages li div.last p.last a:hover {
  background: white;
  color: #c48726;
}
/* line 369, ../sass/_smallest.scss */
.messages li div.last p.last a:hover:visited {
  color: #c48726;
}
/* line 373, ../sass/_smallest.scss */
.messages li div.last p.last a:visited, .messages li div.last p.last a:active {
  color: white;
}
/* line 377, ../sass/_smallest.scss */
.messages li div.last p.last strong {
  font-family: "Lobster Two", cursive;
  font-size: 18px;
}

/* line 384, ../sass/_smallest.scss */
.adjust {
  left: -12% !important;
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 6, ../sass/_480.scss */
.col3 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.col3:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col3:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 5, ../sass/_768.scss */
.right {
  display: inline-block;
}

/* line 9, ../sass/_768.scss */
.left, .right {
  width: 50%;
}

/* line 1, ../sass/_940.scss */
.col3 {
  width: 33.33333%;
}
/* line 326, ../sass/_mixins.scss */
.col3:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col3:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 3, ../sass/_940.scss */
.col3 .overlay {
  padding: 12px;
}
